@import 'tailwindcss';
.blur-layer-1 {
  width: min(300px, 50vw);
  flex-shrink: 0;
  filter: blur(750px);
  height: 504px;
  border-radius: 771px;
  opacity: 0.3;
  background: linear-gradient(180deg, #16b6a6 -16.8%, #0b5b47 117.58%);
}

html {
  overscroll-behavior: none;
}

/* Hide scrollbar while keeping scroll functionality */
/* For Manager Tags and Filter by Tags */
.overflow-y-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overflow-y-auto::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
