body {
  font-family: 'NotoSans-Regular', 'Inter', sans-serif;
}

/* Custom scrollbar cho FolderNote */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #a0aec0;
}
.custom-scrollbar-2::-webkit-scrollbar {
  width: 50%;
  height: 4px;
  background: transparent;
}
.custom-scrollbar-2::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 500px;
}
.custom-scrollbar-2:hover::-webkit-scrollbar-thumb {
  background: #a0aec0;
}

/* Custom scrollbar rõ ràng hơn */
.custom-scrollbar-3::-webkit-scrollbar {
  width: 6px;
  height: 10%;
  background-color: #21b4ca;
}
.custom-scrollbar-3::-webkit-scrollbar-thumb {
  background: #21b4ca;
  border-radius: 4px;
}
.custom-scrollbar-3:hover::-webkit-scrollbar-thumb {
  background: #21b4ca;
}
.custom-scrollbar-3::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
